<div class="row">
    <div class="col-xs 12 col-sm-2 col-md-2 col-mg-2">
        <img src="../../../assets/image/grillo.jpg" class="img-fluid" id="fotografia">
    </div>

    <div class="col-xs 12 col-sm-2 col-md-2 col-mg-2">
        <p id="nombre">Alberto Emmanuel Castro</p>
        <p>Full Stack Development Jr</p>
    </div>

    <div class="col-xs 12 col-sm-8 col-md-8 col-mg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis exercitationem tempora, ea enim culpa
                fugiat soluta id, non nemo unde illo voluptates aliquid corporis quas iure aperiam. Minima, aliquam
                perferendis?</p>
        </span>
    </div>
</div>